<div class="column">
    <div class="box">
      <h2 class="subtitle is-6">Search by City</h2>
        <ul>
            {{ range $city, $taxonomy := .Site.Taxonomies.city }}
          <li>
            <i class="fas fa-angle-right" style="margin-right: 10px"></i><a href="/city{{ $city | urlize | relURL }}" class="secondary-btn">{{ $city | humanize }} ({{ $taxonomy.Count }})</a>
          </li>
          {{end}}
  
        </ul>
    </div>
    <div class="box">
      <h2 class="subtitle is-6">Search by State</h2>
        <ul>
            {{ range $state, $taxonomy := .Site.Taxonomies.state }}
          <li>
            <i class="fas fa-angle-right" style="margin-right: 10px"></i><a href="/state{{ $state | urlize | relURL }}" class="secondary-btn">{{ $state | humanize }} ({{ $taxonomy.Count }})</a>
          </li>
          {{end}}
  
        </ul>
    </div>
    <div class="box">
      <h2 class="subtitle is-6">Search by Zip Code</h2>
        <ul>
            {{ range $zip, $taxonomy := .Site.Taxonomies.zip }}
          <li>
            <i class="fas fa-angle-right" style="margin-right: 10px"></i><a href="/zip{{ $zip | urlize | relURL }}" class="secondary-btn">{{ $zip }} ({{ $taxonomy.Count }})</a>
          </li>
          {{end}}
  
        </ul>
    </div>
  </div>
  